*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    min-height: 100vh;
}

.video-1 video{
    width: 100%;

}
.cherry{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
}
.cherry img{
    width: 100%;
    height: auto;



}

.cherry a{
    position: absolute;
    display: flex;
    justify-content: center;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 30px;
    color: black;
    background: white;
    font-weight: 1000;
    border-radius: 20px;
}
.card-container{
    background-image: url(./images/body.png);
    background-repeat: no-repeat;
    /* background-position: 50%; */
    /* background-size: 220%; */
    background-size: cover;
    width: 100%;
    height: auto;
}

.card-heading h1{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 45px;
    padding-top: 30px;
    color: aliceblue;
}
.cards{
    cursor: pointer;
}
.card-template{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.card-picture{
    margin-left: 50px;
    margin-top: 200px;
    border-radius: 20px;
    transition: 0.2s ease all;
}
.card-name{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 30px;


}

.card-name p{
    padding: 10px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    background: aliceblue;
    border-radius: 10px;
    cursor: pointer;
}

.cards:hover > .card-name p{
    background: blue;
    color: aliceblue;
}
.cards:hover > .card-picture{
    box-shadow: 0 0 30px blue;
}

.video-2 video{
    width: 100%;

}
.slider-container{
    width: 100%;
    background: black;

}
.slider-container h2{
    color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 4px;

}
.slider-template{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid navy;


}
.sliders{
    justify-content: center;
    /* padding: 5px; */
    cursor: pointer;
    overflow: hidden;
    transition: all 1s ease;

}

.slider-image img{
    width: 200px;
    transition: 1s ease;

}
.sliders:hover > .slider-image img{  
    background: blue;
    opacity: 0.2;
    transform: scaleX(1.2);

}